@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "BolsterBold";
  src: url("../fonts/BolsterBold Bold.ttf");
}

@font-face {
  font-family: "PlayBold";
  src: url("../fonts/Play-Bold.ttf");
}

@font-face {
  font-family: "Rubik";
  src: url("../fonts/RubikMonoOne-Regular.ttf");
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 200, 200, 200;
  --background-end-rgb: 214, 219, 220;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 200, 200, 200;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background-image: url("../public/elements/background.png");
  background-repeat: no-repeat;

  /*
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  */
}

#top {
  font-family: "BolsterBold", sans-serif;
  text-transform: uppercase;
}

#mainPlayerCard {
  font-family: "Rubik", sans-serif;
  text-transform: uppercase;
}

#mainPlayerBG {
  background-image: url("../public/elements/current-team-card.png");
  background-repeat: no-repeat;
}

#subPlayerCard {
  font-family: "PlayBold", sans-serif;
  text-transform: uppercase;
}

#subPlayerBG {
  background-image: url("../public/elements/team-card.png");
  background-repeat: no-repeat;
  background-size: cover;
}

#searchBox {
  font-family: "PlayBold", sans-serif;
  text-transform: uppercase;

  background-image: url("../public/elements/searchBox.png");
  background-repeat: no-repeat;
}

#searchBoxOverlay {
  background-image: url("../public/elements/searchBox-overlay.png");
  background-repeat: no-repeat;
}

#footer {
  background-image: url("../public/elements/footer-bg.png");
  background-repeat: no-repeat;

  font-family: "BolsterBold", sans-serif;
}

#bolsterBold {
  font-family: "BolsterBold", sans-serif;
  text-transform: uppercase;
}

#bolsterBoldBig {
  font-family: "BolsterBold", sans-serif;
  font-size: 240px;
  text-transform: uppercase;
}

#bolsterBoldBigger {
  font-family: "BolsterBold", sans-serif;
  font-size: 300px;
  text-transform: uppercase;
}

#bolsterBoldBiggest {
  font-family: "BolsterBold", sans-serif;
  font-size: 240px;
  text-transform: uppercase;
  line-height: 80%;
  font-style: italic;
}

#name {
  font-family: "BolsterBold", sans-serif;
  font-size: 500px;
  text-transform: uppercase;
  line-height: 80%;
  font-style: italic;
  -webkit-text-stroke: 5px #ff4343;
}
#playBold {
  font-family: "PlayBold", sans-serif;
}

#rubik {
  font-family: "Rubik", sans-serif;
}

#drafted {
  background-image: url("../public/elements/drafted-bg.png");
  background-repeat: no-repeat;
}

#draftModal {
  background-image: url("../public/elements/draftModal.png");
  background-repeat: no-repeat;
}

#screen {
  background-image: url("../public/elements/screen.png");
  background-repeat: no-repeat;
}

#button {
  background-image: url("../public/elements/button.png");
  background-repeat: no-repeat;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
